* {
    padding:0px;
    margin: 0px;
}

.countdown-container{
    width: 300px;
    margin:10px auto;
    border-radius: 5px;
    text-align: center;
}

.timmer{
    margin:30px;
    font-size: 200px;
}