*{
    padding:0px;
    margin: 0px;
}

.main{
    display: flex;
    justify-content: flex-start;
}

.product-items{
    margin:20px;
    flex:0.6
}

.cart-items{
    position: fixed;
    margin:20px;
    width: 35%;
    height: 500px;
    overflow-y: scroll;
    right:0px;
}

.product{
    display: flex;
    flex-direction: column;
}

.cart-product{
    display: flex;
    justify-content: space-between;
}

.cart-input{
    width: 55px;
    padding:5px;
    border:1px solid #d3d2d2;
    border-radius: 3px;
}   

.checkout{
    align-self: flex-end;
    margin-top: 10px;
}