*{
    padding:0px;
    margin: 0px;
}

.main{
    display: flex;
    justify-content: space-between;
}

.product-items{
    margin:20px;
    flex:0.4;
}

.product{
    display: flex;
    flex-direction: column;
}

.product-name{
    font-size: 18px;
}

.product-button{
    align-self: flex-end;
    width: 80px;
    height: 35px;
    padding:5px 10px;
    background-color: #ceda33;
    color:#ffffff;
    border:2px solid #ceda33;
    border-radius: 2px;
    cursor: pointer;
    background-image: url('./icons/cart-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.product-button:active{
    background-color: #ffffff;
    color:#000000;
}

.cart-items{
    margin:20px;
    flex:0.4;
}

.cart-product{
    display: flex;
    justify-content: space-between;
}

.cart-product-input{
    width: 55px;
    padding:5px;
    border:1px solid #d3d2d2;
    border-radius: 3px;
}   

.checkout{
    align-self: flex-end;
    margin-top: 10px;
}