* {
    padding:0px;
    margin:0px;
}

.main{
    margin:10px auto;
    width:fit-content;
}

.tracker-input{
    display: flex;
    justify-content: space-between;
}

.tracker-input input{
    margin:0px 10px;
}

.expense-list{
    margin:10px 0px;
    padding:10px;
    background-color: #EDBF69;
    border-radius: 5px;
}

.expense-filter{
    display: flex;
    justify-content: flex-end;
    margin-left: 70%;
}

.expense-filter select{
    margin:0px 5px;
}

.expenses{
    margin: 20px 0px;
}

.expense-item{
    display: flex;
    justify-content: space-between;
}