* {
    padding:0px;
    margin:0px;
}

.main{
    margin:0px auto;
    width:fit-content;
}

.main-heading{
    color:#758283;
    text-align: center;
}

.tracker{
    margin:10px 0px;
}

.expense-name{
    border: 1px solid #CAD5E2;
    border-radius: 3px;
    padding:10px;
}

.expense-cost{
    border: 1px solid #CAD5E2;
    border-radius: 3px;
    padding:10px;
    width: 50px;
}

.expense-date{
    border: 1px solid #CAD5E2;
    border-radius: 3px;
    padding:10px;
}

.add-expense{
    border: none;
    border-radius: 3px;
    background-color: #3944F7;
    color:#ffffff;
    cursor:pointer;
    padding:10px;
}

.expense-list{
    margin:10px 0px;
    padding:10px;
    background-color: #EDBF69;
    border-radius: 5px;
}

.expense-filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.year{
    margin-left:5px;
    background-color: #ffffff;
    border:none;
    border-radius: 3px;
    padding:10px 15px;
}

.month{
    margin-left:5px;
    background-color: #ffffff;
    border:none;
    border-radius: 3px;
    padding:10px 15px;
}

.expenses{
    margin:10px 0px;
    text-align: center;
    color: #ffffff;
}

.total{
    color: #ffffff;
}

.expense-item{
    background-color: #FF6263;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color:initial;
    padding:5px 10px;
    margin:10px 0px;
}

.expense-item-name{
    flex:0.8;
    text-align: left;
    padding:5px;
    color: #ffffff;
}

.expense-item-cost{
    background: #ffffff;
    padding:5px;
    border-radius: 2.5px;
}

.expense-item-date{
    padding:5px;
    color: #ffffff;
}