.main{
    box-sizing: border-box;
    width: 90vh;
    height: 90vh;
    background-color: rgb(123, 201, 211);
    text-align: center;
    border-radius: 45vh;
    margin: 0px auto;
}

.time{
    color:white;
    font-size: 100px;
    margin-bottom: 80px;
}

.timmer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    padding:40px;
}